@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
@section PageCSS {
    <link rel="stylesheet" href="~/css/test.css" />
}

<h1>@ViewData["Title"]</h1>

<p class="teste">Use this page to detail your site's privacy policy.</p>
